{:deps {camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}}
 :paths ["src"]
 :pods {org.babashka/postgresql {:version "0.1.1"}}
 :tasks {:requires ([spend-better]
                    [spend-better.config :as config])
         import (spend-better/import-statement (first *command-line-args*))
         categorize spend-better/categorize-transactions
         set-config (config/set-config-file (first *command-line-args*))
         db:setup spend-better.db/setup
         test {:extra-paths ["test"]
               :requires ([clojure.test :as t]
                          [spend-better-test])
               :task (let [{:keys [fail error]} (t/run-tests 'spend-better-test)]
                       (System/exit (if (zero? (+ fail error)) 0 1)))}}}
