{:deps {camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}}
 :paths ["src"]
 :pods {org.babashka/postgresql {:version "0.1.1"}}
 :tasks {:requires ([spend-better]
                    [spend-better.config :as config]
                    [spend-better.db :as db])
         import spend-better/import-statement
         categorize spend-better/categorize
         recategorize spend-better/recategorize
         all spend-better/all
         overview spend-better/overview
         details spend-better/details
         set-config config/set-config-file
         db:create (do (shell "createdb" "spend_better_dev")
                       (shell "createdb" "spend_better_test"))
         db:drop (do (shell "dropdb" "spend_better_dev")
                     (shell "dropdb" "spend_better_test"))
         db:setup (do (db/setup "spend_better_dev")
                      (db/setup "spend_better_test"))
         test {:extra-paths ["test"]
               :requires ([clojure.test :as t]
                          [spend-better-test])
               :task (let [{:keys [fail error]} (t/run-tests 'spend-better-test)]
                       (System/exit (if (zero? (+ fail error)) 0 1)))}}}
