{:banks
 {:BANK-NAME-1
  {:filename #regex "bank1.*\.csv"
   :skip-bom true
   :field-mapping
   {:date "Date"
    :other "Payer / receiver"
    :amount "Amount"
    :currency "Currency"
    :description "Description"}}}

 :BANK-NAME-2
 {:filename #regex "bank2.*\.csv"
  :field-mapping
  {:date "Date"
   :other "Payer / receiver"
   :amount "Amount"
   :currency "Currency"
   :description "Description"}}

 :categories
 {:groceries ["food market"
              {:description "groceries abc"}
              {:description #rule-regex "food.*shop"}]}}
