{:banks
 {:bank-one
  {:filename #regex "bank1.*\\.csv"
   :skip-bom true
   :field-mapping
   {:date "Date"
    :other "Payer / recipient name"
    :amount "Amount"
    :currency "Currency"
    :description "Description"}}}

 :capital-two
 {:filename #regex "bank2.*\\.csv"
  :field-mapping
  {:date "Date"
   :other "Payer / receiver"
   :amount "Amount"
   :currency "Currency"
   :description "Description"}}

 :categories
 {:groceries ["foodmart"
              {:description "groceries abc"}
              {:description #rule-regex "food.*shop"}]
  :books ["bookshop"]
  :fees [{:description #rule-regex "card.*monthly fee"}]
  :sales ["indie platform"]}}
